@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  font-family: 'Poppins', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.animation {
  animation: image 0.4s linear forwards;
}

@keyframes image {
  0% {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }
}
